/Data/IMDB/title_basics/title.basics.tsv
/Data/IMDB/title_crew/title.crew.tsv
/Data/IMDB/title_episode/title.episode.tsv
/Data/IMDB/title_principals/title.principals.tsv
/Data/IMDB/title_ratings/title.ratings.tsv
/Data/IMDB/names_basic/names_basic.tsv
/Data/IMDB/title_akas/title.akas.tsv
